.beaufort-cipher-table {
  width: 60%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.beaufort-cipher-table table {
  border-collapse: collapse;
  width: 100%;
}

.beaufort-cipher-table th,
.beaufort-cipher-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.beaufort-cipher-table th.selected,
.beaufort-cipher-table td.selected {
  background-color: #ccc;
}

.beaufort-cipher-table .beaufort-cipher-labels {
  font-weight: bold;
  padding-right: 20px;
}

.beaufort-cipher-table .beaufort-cipher-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.beaufort-accordion-label {
  font-weight: bold;
}
