.beaufort-cipher-table {
  width: 60%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

th.selected,
td.selected {
  background-color: #ccc;
}
