.caesar3-screen {
  background-color: #C9DEED;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 11vh;
  }
  
.caesar3-screen .caesar3-background {
  background-color: #ffffff8a;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000040;
  height: 100%;
  width: 100%;
  margin-right: 5%;
  flex-direction: column;
}

.h-2{
  margin-top: 2%;
}

.caesar-img {
  height: 15vh;
  width: 18vw;
  margin: 1%;
}

html {
  --primary: #02637e;
  --font: 'Andale Mono', 'Menlo', 'Courier New', Courier, monospace;
  --dark: #222;
  --gray: #D8D8D8;
  --white: #FFF;
  --darkGray: #A2A2A2;
}

.h-1 {
  color: #383838;
  font-family: "Simple Handmade", Helvetica;
  border-bottom: 5px solid var(--black);
  padding: 20px;
  margin-top: 0px;
  font-size: 3em;
  font-weight: 100;
}

h2,h3,h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: 200;
}

.label {
  margin: 20px;
  color: var(--darkGray);
}

input {
  display: block;
  font-family: var(--font);
  font-size: 2em;
  padding: 10px;
  font-weight: 100;
  border: 3px solid var(--gray);
  margin: 20px;
  background-color: var(--white);
  width: calc(100% - 65px);
}

#encrypted {
  border-color: var(--dark);
  background-color: var(--dark);
  color: var(--white);
}

.mainContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.border-line {
  border: 2px solid var(--primary);
  width: 30vw;
}
