.home-screen {
  background-color: #C9DEED;
  /* background-color: #ffffff8a; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.home-screen .home-background {
  background-color: #ffffff8a;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px #00000040;
  height: 100%;
  width: 95%;
  flex-direction: column;
}

.home-screen .h-1 {
  color: #383838;
  font-family: "Simple Handmade", Helvetica;
  font-size: 94.3px;
  font-weight: 400;
  letter-spacing: -4.71px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  margin: 2%;
}

.home-screen .test-button-instance .tutorial-button-instance{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}