.sidebar-container {
    display: flex;
    height: 100vh;
    overflow: scroll initial;
    padding-top: 11vh;
    z-index: 4;
    box-shadow: 4px 4px 4px #00000040;
    left: 0;
    position: fixed;
    
  }
  
.sidebar {
    color: #fff;
    background-color: #333;
}

.sidebar-content {
    background-color: #333; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-all; 
}

.sidebar-footer {
    text-align: center;
    padding: 10px 5px;
    overflow-wrap: break-word;
}