html {
  --primary: #02637e;
  --font: 'Andale Mono', 'Menlo', 'Courier New', Courier, monospace;
  --dark: #222;
  --gray: #D8D8D8;
  --white: #FFF;
  --darkGray: #A2A2A2;
} 

.border-line{
  border: 2px solid var(--primary);
  width: 50vw;
}

.labels{
  font-weight: bold;
  padding-right: 20px;
}

.beaufort-table-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

h5{
  padding-bottom: 3vh;
}