.App {
  text-align: center;
}

@import './styles/fonts.css';

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 1.2rem; 
  margin-top: 3%;
}

.display-score{
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
  font-size: 1.2rem; 
  text-align: center;
}

.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.center-items-horizontally{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}


.title {
  color: #383838;
  font-family: Handlee, Helvetica;
  font-size: 94.3px;
  font-weight: 400;
  letter-spacing: -4.71px;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  margin: 2%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.border-line{
  border: 2px solid var(--primary);
  width: 50vw;
}

.alpha-table {
  font-size: 16px; 
  border-collapse: collapse; 
  width: 50%;
  table-layout: fixed;
}

.alpha-table th,
.alpha-table td {
  padding: 4px;
  border: 1px solid #ccc;
  text-align: center;
  width: 2%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}