.notes-screen {
    background-color: #C9DEED;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
.notes-screen .notes-background {
    background-color: #ffffff8a;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px #00000040;
    height: 100%;
    width: 100%;
    margin-right: 5%;
    flex-direction: column;
}

.sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
